

$text-font: "Poppins", sans-serif;
$title-font:"Geist Mono", monospace;
// $accent-font :;

//==============LIGHT MODE==============//

$body-color-light :      #f0eaef;
$section-color-light:    #fcfafa;
$text-color-light :      black;
$shadow-color-light:     #ffbb52;
$accent-color-light:     #D97A8F;


//==============DARK MODE==============//

$body-color-dark :      #2d2d40;
$section-color-dark:    #414153;
$text-color-dark :      #f5f4fe;
$shadow-color-dark:     #000c25;
$accent-color-dark:     #7d8bab;


$font-size-xxl: 3em;
$font-size-xl: 2.5em;
$font-size-l: 2em;
$font-size-m: 1.5em;
$font-size-s: 1.25em;
$font-size-xs: 1em;
$font-size-xxs: 0.75em;
