

$text-font: "Poppins", sans-serif;
$title-font:"Geist Mono", monospace;
// $accent-font :;


$background-color : #fcfafa ;
// $border-color : 
// $accent-color-100:;
// $accent-color-300:;
// $accent-color-500:;
// $accent-color-700:;
// $dark-color:;
// $light-color:;


$font-size-xxl: 3em;
$font-size-xl: 2.5em;
$font-size-l: 2em;
$font-size-m: 1.5em;
$font-size-s: 1.25em;
$font-size-xs: 1em;
$font-size-xxs: 0.75em;
