$text-font: "Poppins", sans-serif;
$title-font:"Geist Mono", monospace;

$font-size-xxl: 3rem;
$font-size-xl: 2.5rem;
$font-size-l: 2rem;
$font-size-m: 1.5rem;
$font-size-s: 1.25rem;
$font-size-xs: 1rem;
$font-size-xxs: 0.75rem;

$orange :   #fccd7f;
$yellow :   #fcf69f;
$green :    #cee5b7;
$blue :     #c5e3fd;
$violet :   #ffd7df;

$sun-color :#ffbe00;
$moon-color :#bbbaad;

/*===================Light Mode===================*/
$section-color-light: #fefaff;
$border-color-light:  #ada7a7;
$text-color-light:    #000213;
$accent-color-light: #ffffff; 

/*===================Dark Mode====================*/
$section-color-dark:  #1c1f26;
$border-color-dark:   #363b44;
$text-color-dark:     #fdfdff;
$accent-color-dark: #434752; 