@charset "UTF-8";
/*===================Light Mode===================*/
/*===================Dark Mode====================*/
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000px);
  }
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  text-wrap: balance;
}

h1 {
  font-size: 2rem;
  font-family: "Geist Mono", monospace;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-family: "Geist Mono", monospace;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-family: "Geist Mono", monospace;
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  text-wrap: pretty;
}

blockquote {
  font-size: 1.5rem;
  color: white;
  font-family: "Geist Mono", monospace;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.2);
}

form input, form textarea {
  font-family: "Geist Mono", monospace;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

/* Desktop  */
@media (min-width: 1024px) {
  body {
    font-size: 100%;
  }
}
/* Tablette */
/*Mobile*/
@media (max-width: 779px) {
  .welcome .title {
    font-size: 4rem !important;
  }
  .about h3 {
    font-size: 1.25rem;
  }
}
.mdl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.accent {
  text-decoration-line: underline;
  text-underline-offset: 5px;
  font-weight: 300;
  font-style: italic;
}

button {
  max-width: 100%;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  margin-top: 2rem;
  padding: 0.7rem;
  background-color: #c5e3fd;
  border-color: transparent;
  position: relative;
  top: -5px;
  padding: 0.75rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px #a8a8a8;
  transition-property: top, box-shadow, transform;
  transition-duration: 0.2s, 0.2s, 1s;
}
button:hover {
  top: 0;
  box-shadow: 2px 2px 2px 0px #a5a3a3;
  background-color: #c5e3fd;
}

/*=============TOGGLE - LIGHT & DARK MODE=============*/
/*====================================================*/
.tgl-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 3.3333333333em; /* Réduction à un tiers */
  width: 6.6666666667em; /* Réduction à un tiers */
  border: 1.6666666667px solid #e4e7ec; /* Ajustement des bordures */
  border-radius: 3.3333333333em;
  background-color: #fefaff;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #1c1f26;
}

.toggle-button {
  transform: translate(3.9166666667em, 0.5833333333em);
  position: absolute;
  height: 2.1666666667em;
  width: 2.1666666667em;
  border-radius: 50%;
  background-color: #ffeccf;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #bbbaad;
  box-shadow: inset 0px 0px 0px 0.25em #bbbaad;
  transform: translate(0.5833333333em, 0.5833333333em);
}

.sun-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: #ffbe00;
}

.sun-icon-wrapper {
  position: absolute;
  height: 2em;
  width: 2em;
  opacity: 1;
  transform: translate(0.6666666667em, 0.6666666667em) rotate(15deg);
  transform-origin: center center;
  transition: opacity 150ms;
}

/* Icône de la lune */
.moon-icon {
  position: absolute;
  height: 2em;
  width: 2em;
  color: #fdfdff;
}

.moon-icon-wrapper {
  position: absolute;
  height: 2em;
  width: 2em;
  opacity: 0;
  transform: translate(3.6666666667em, 0.6666666667em) rotate(0deg);
  transform-origin: center center;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(4em, 0.6666666667em) rotate(-15deg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  gap: 15px;
  grid-auto-flow: row;
  margin-top: 2rem;
}

footer {
  grid-area: fo;
}

.contact {
  grid-area: co;
  min-height: 500px;
}

.work {
  grid-area: wo;
}

.skills {
  grid-area: sk;
}

.intro {
  grid-area: in;
  min-height: 200px;
}

.welcome {
  grid-area: we;
  min-height: 250px;
}

.about {
  grid-area: ab;
}

.poem {
  grid-area: po;
  min-height: 250px;
}

/* Desktop  */
@media (min-width: 1024px) {
  .container {
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "we we ab ab" "we we ab ab" "in in ab ab" "po po ab ab" "po po ab ab" "sk sk sk sk" "sk sk sk sk" "co co wo wo" "co co wo wo" "co co wo wo" "co co wo wo" "fo fo fo fo";
  }
}
/* Tablette */
@media (min-width: 780px) {
  .container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "we ab" "in ab" "po ab" "sk sk" "co wo" "fo fo";
  }
}
/*Mobile*/
@media (max-width: 779px) {
  .container {
    width: 90%;
    grid-template-areas: "we" "in" "ab" "po" "sk" "wo" "co" "fo";
  }
  .about .about__intro {
    flex-direction: column;
  }
  .about img {
    margin-bottom: 1rem;
  }
}
footer {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

form {
  width: 90%;
  height: 90%;
  margin: 1rem auto;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form label {
  padding: 0.5rem 0;
}
form input, form textarea {
  border-radius: 5px;
  border: none;
  border-bottom: #c5e3fd solid 1px;
  padding: 0.5rem;
  height: auto;
}
form input:hover, form textarea:hover {
  border-bottom: #ffd7df solid 1px;
}
form textarea {
  height: 20%;
}

.poem {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  align-items: center;
  background: #E3E3E3;
  justify-content: center;
  padding: 1rem 0;
}
.skills h2 {
  padding-left: 1rem;
  padding-bottom: 1rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #ffd7df;
}
.skills h2:hover {
  text-decoration-color: #cee5b7;
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider .slide-track {
  animation: scroll 35s linear infinite;
  display: flex;
  width: 3000px;
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.comp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comp p {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Geist Mono", monospace;
  margin-left: 0.5rem;
}
.comp img {
  padding: 0.5rem 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
}

.contact h2 {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #c5e3fd;
}
.contact h2:hover {
  text-decoration-color: #ffd7df;
}

.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome .title {
  text-align: center;
  font-family: "Geist Mono", monospace;
  font-weight: 900;
  color: transparent;
  font-size: 5rem;
  background-position: 42% 50%;
}

.intro {
  position: relative;
  flex-direction: column;
  align-items: start;
}
.intro .links {
  width: 100%;
  text-align: end;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
.intro .links ion-icon {
  font-size: 2rem;
  color: black;
  background-color: #fefaff;
  border-radius: 50%;
  padding: 0.2rem;
}
.intro .links ion-icon:hover {
  color: #fccd7f;
}

.work h2 {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #cee5b7;
}
.work h2:hover {
  text-decoration-color: #ffd7df;
}
.work .moreProjects {
  margin-top: 2rem;
  border-radius: 10px;
}
.work .moreProjects ion-icon {
  color: #000213;
  font-size: 1rem;
}
.work .moreProjects .mini {
  font-weight: 200;
}

.about h2 {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #fccd7f;
}
.about h2:hover {
  text-decoration-color: #c5e3fd;
}
.about .about__bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about__bio .about__intro {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about__bio .about__intro img {
  margin: 0 0.5rem 0 2rem;
  aspect-ratio: 1;
  max-width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.about .about__bio .about__intro h3 {
  margin: 0 2rem 0 0.5rem;
}
.about .about__bio p {
  margin: 1rem;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.light-mode {
  color: #000213;
  opacity: 1;
  background-image: linear-gradient(#dcd4d4 1px, transparent 1px), linear-gradient(to right, #dcd4d4 1px, #fefaff 1px);
  background-size: 60px 60px;
}
.light-mode ion-icon, .light-mode a {
  color: #000213;
}
.light-mode section {
  background-color: #fefaff;
  border: #ada7a7 solid 1px;
}
.light-mode form input, .light-mode form textarea {
  background-color: #ffffff;
  color: #000213;
}
.light-mode .accent {
  text-decoration-color: #fccd7f;
}

.dark-mode {
  color: #fdfdff;
  opacity: 1;
  background-image: linear-gradient(rgb(65, 65, 65) 1px, transparent 1px), linear-gradient(to right, rgb(65, 65, 65) 1px, #141414 1px);
  background-size: 50px 50px;
}
.dark-mode ion-icon, .dark-mode a {
  color: #fdfdff;
}
.dark-mode section {
  background-color: #1c1f26;
  border: #363b44 solid 1px;
}
.dark-mode form input, .dark-mode form textarea {
  background-color: #434752;
  color: #fdfdff;
}
.dark-mode .accent {
  text-decoration-color: #fccd7f;
}
.dark-mode .intro ion-icon {
  color: #fdfdff;
  background-color: transparent;
}/*# sourceMappingURL=app.css.map */