.container {
    margin-top: 2rem;
    width: 80%;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(12, 1fr); 
    gap: 1rem; 
    grid-template-areas: 
        "welcome about"
        "welcome about"
        "intro about"
        "poem about"
        "poem about"
        "sk sk"
        "sk sk"
        "contact work"
        "contact work"
        "contact work"
        "contact work"
        "footer footer"; 
}



@media screen and (max-width: 767px){
.container{
    grid-template-columns: 1fr;
    grid-template-areas:
    "welcome"
    "welcome"
    "intro"
    "poem"
    "about"
    "about"
    "about"
    "about"
    "sk"
    "sk"
    "work"
    "work"
    "work"
    "contact"
    "contact"
    "contact"
    "footer";
}

}

.intro { 
    grid-area: intro;

}
    
.work { 
    grid-area: work;

}
    

    .skills { 
        grid-area: sk;
    }
    
    .welcome { 
        grid-area: welcome;
        }
    
    .about { 
        grid-area: about;

    
    }
    
    .contact { 
        grid-area: contact;
    }
    
    .poem { 
        grid-area: poem;

    }
    
    footer{
        grid-area:footer;
    }