body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    gap: 15px;
    grid-auto-flow: row;
    margin-top: 2rem;
}
    
footer { grid-area: fo; }

.contact { 
    grid-area: co; 
    min-height: 500px;
}

.work { grid-area: wo; }

.skills { grid-area: sk; }

.intro { 
    grid-area: in;
    min-height: 200px;
}

.welcome { 
    grid-area: we;
    min-height: 250px;
}

.about 
{ 
    grid-area: ab;
}

.poem 
{ 
    grid-area: po;
    min-height: 250px;
}

    /* Desktop  */
    @media (min-width: 1024px)
    {
        .container 
        {   
            width: 80%;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            "we we ab ab"
            "we we ab ab"
            "in in ab ab"
            "po po ab ab"
            "po po ab ab"
            "sk sk sk sk"
            "sk sk sk sk"
            "co co wo wo"
            "co co wo wo"
            "co co wo wo"
            "co co wo wo"
            "fo fo fo fo";
        }
    } 

    /* Tablette */
    @media (min-width: 780px) 
    { 
        .container {
            width: 90%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "we ab"
                "in ab"
                "po ab"
                "sk sk"
                "co wo"
                "fo fo";
            }
    }

    /*Mobile*/
    @media (max-width: 779px) { 
        .container {
            width: 90%;
            grid-template-columns: 100%;
            grid-template-areas:
                "we"
                "in"
                "ab"
                "po"
                "sk"
                "wo"
                "co"
                "fo"
                ;
            }
            .about{
                .about__intro{
                    flex-direction: column;
                }
                img{
                    margin-bottom: 1rem;
                }
            }
    }
