h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
    text-wrap: balance;
}
h1{
    font-size: $font-size-l;
    font-family: $title-font;
    font-weight: 500;
}
h2{
    font-size: $font-size-l;
    font-family: $title-font;
    font-weight: 500;
}
h3{
    font-size: $font-size-m;
    font-family: $title-font;
    font-weight: 400;
}
p{

    font-family: $text-font;
    font-weight: 300;
    line-height: 1.5;
    text-wrap: pretty;
}
blockquote{
    font-size: $font-size-m;
    color: white;
    font-family: $title-font;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.2);
}
form
{
    input, textarea
    {
        font-family: $title-font;
        font-size: $font-size-xs;
    }    
}

a{
    text-decoration: none;
}

/* Desktop  */
@media (min-width: 1024px) {
body{
    font-size: 100%;
}
}

/* Tablette */
@media (min-width: 780px) {

}

/*Mobile*/
@media (max-width: 779px) {
.welcome{
    .title{
        font-size: 4rem !important;
    }
}
.about{
    h3{
        font-size: $font-size-s;
    }
}
}