.contact{
  form{
  width: 90%;
  margin: auto;
  font-family:$text-font;
  font-size: $font-size-xs;
  display: flex;
  flex-direction: column;
  justify-content: center;

    label{
      
      padding: 0.5rem 0;
    }
    input, textarea{
      border: none;
      border-bottom: #fbdb04 solid 1px;
      padding-bottom: 0.5rem;
    }

  }

}