.contact{
  h2{
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: $blue;
    &:hover{
        text-decoration-color: $violet ;
    }
  }
  form{
  width: 90%;
  height: 95%;
  margin:  1rem auto;
  font-family:$text-font;
  font-size: $font-size-xs;
  display: flex;
  flex-direction: column;
  justify-content: center;

    label{
      padding: 0.5rem 0;
    }
    input, textarea{
      border: none;
      border-bottom: $blue solid 1px;
      padding: 0.5rem;
      height: auto;
      &:hover{
      border-bottom: $violet solid 1px;
      }
    }
    textarea{
      height: 20%;
    }
  }

}