.contact{
  form{
  width: 90%;
  height: 95%;
  margin:  1rem auto;
  font-family:$text-font;
  font-size: $font-size-xs;
  display: flex;
  flex-direction: column;
  justify-content: center;

    label{
      padding: 0.5rem 0;
    }
    input, textarea{
      border: none;
      border-bottom: $shadow-color-light solid 1px;
      padding: 0.5rem;
      height: auto;
    }
    textarea{
      height: 20%;
    }
  }

}