.intro{
    position: relative;
    @include center;
    flex-direction: column;
    align-items: start;
    .links{
        width: 100%;
        text-align: end;
        position: absolute; 
        bottom: 0.5rem;
        right: 1rem;
        ion-icon{
            font-size: $font-size-l;
            color: black;
            background-color: $body-color-light;
            border-radius: 50%;
            padding: 0.5rem;
        }
    }

}