.poem{
    background-image: url(/assets/img/pexels-ryank-17731679.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}