.skills {
	h2{
		padding-left: 1rem;
		padding-bottom: 1rem;
		text-decoration: underline;
		text-underline-offset: 1rem;
		text-decoration-color: $violet;
		&:hover{
			text-decoration-color: $green ;
		}
	}
	align-items: center;
	background: #E3E3E3;
	justify-content: center;
	padding: 1rem 0;
}

$animationSpeed: 35s;

.slider {

	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	
	.slide-track {
		width: fit-content;
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		// width: calc(250px * 12);
		min-width: 270px;
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

.comp{
	display: flex;
	justify-content: center;
	align-items: center;
	p{
		font-size:$font-size-m;
		font-weight: 500;
		font-family: $title-font;
		margin-left: 0.5rem;
	}
	img{
		padding: 0.5rem 0;
		object-fit: contain;
		width: 50%;
	}
}