@import 'default';

.dark-mode{
    color: $text-color-dark;
    background-color: $body-color-dark;
    opacity: 1;
    background-size: 28px 28px;
    background-image:  repeating-linear-gradient(0deg, #202030, #202030 1.4px, $body-color-dark 1.4px, $body-color-dark);
    
    ion-icon, a{
        color: $text-color-dark;
    }
    section{
        background-color: $section-color-dark;
    }
    .skills{
            img{
                background-color: $body-color-light;
                box-shadow: 5px 5px 5px $shadow-color-dark !important;
                &:hover{
                    background: #3e385e !important;
                }
            }
        }

    .intro{
        .links{
            ion-icon{
            color: $body-color-dark;
            }
        }
    }
    }


.light-mode{
    background-color: $body-color-light;
    opacity: 1;
    background-size: 28px 28px;
    background-image:  repeating-linear-gradient(0deg, #c0bbbf, #c0bbbf 1.4px, $body-color-light 1.4px, $body-color-light);
    
    section{
        border: rgb(235, 235, 235) solid 1px;
        background-color: $section-color-light;

    }
}   